@font-face {
	font-family: 'Poppins';
	src: url('../../fonts/poppins/Poppins-Bold.eot');
	src: local('☺'), 
	url('../../fonts/poppins/Poppins-Bold.woff') format('woff'), 
	url('../../fonts/poppins/Poppins-Bold.ttf') format('truetype'), 
	url('../../fonts/poppins/Poppins-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('../../fonts/lato/Lato-Regular.eot');
	src: local('☺'), 
	url('../../fonts/lato/Lato-Regular.woff') format('woff'), 
	url('../../fonts/lato/Lato-Regular.ttf') format('truetype'), 
	url('../../fonts/lato/Lato-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
